body {
  background-color: #f9f7fe;
  font-family: "Source Code Pro", monospace;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 20px; rgba(80, 60, 80, 0.10);
  border-radius: 20px;
  padding: 50px;
}