body {
  background-color: #f9f7fe;
  font-family: "Source Code Pro", monospace;
}

a {
  color: rgb(226, 76, 43);
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 40px 60px rgba(80, 60, 80, 0.1);
  border-radius: 20px;
  padding: 50px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  width: 80%;
  padding: 15px;
}

.search-form-button {
  background-color: rgb(226, 76, 43);
  padding: 15px 30px;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  color: white;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  font-weight: 500px;
  text-align: centre;
  font-size: 13px;
}
