body {
  background-color: #f9f7fe;
  font-family: "Source Code Pro", monospace;
}

a {
  color: rgb(226, 76, 43);
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 40px 60px rgba(80, 60, 80, 0.1);
  border-radius: 20px;
  padding: 60px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 60px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  width: 80%;
  padding: 15px;
}

.search-form-button {
  background-color: rgb(226, 76, 43);
  padding: 15px 30px;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  color: white;
}

main {
  padding: 30px 0;
}

.weather-app-information {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 50px;
}

.weather-app-info {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.weather-app-info strong {
  color: red;
}

.weather-app-temperature-container {
  display: flex;
  justify-content: space-between;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-temp {
  font-size: 60px;
  margin-left: 10px;

  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
  font-weight: bold;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 10px 0 0 0;
  font-weight: 500px;
  text-align: centre;
  font-size: 13px;
}
