body {
  background-color: #f9f7fe;
  font-family: "Source Code Pro", monospace;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 40px 60px rgba(80, 60, 80, 0.1);
  border-radius: 20px;
  padding: 50px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  width: 80%;
  padding: 15px;
}

.search-form-button {
  background-color: rgb(226, 76, 43);
  padding: 15px 30px;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  color: white;
}
